@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Poppins:wght@100&family=Redressed&family=Roboto:wght@400;500&display=swap");

body {
  background: linear-gradient(236.85deg, #971797 27.26%, #34c8a7 96.03%);
  font-family: "Roboto", sans-serif;
}

.container {
  background: #ecf4ff;
  color: #1c1c1c;
  margin: 35px;
  border-radius: 12px;
  box-shadow: 6px 6px 6px #0e1d2f;
  padding: 40px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}
/* flex: box; para posionar em linha, em coluna, espaço entre eles */
/* foto e nome ficam um ao lado outro, pois estão no mesmo nivel dentro de header no html */
.perfil {
  display: flex;
}

.perfil-foto {
  max-width: 165px;
  border-radius: 230px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* sombra na foto */
}

.titulo {
  margin-left: 10px; /* separar a foto do nome e subtitulo */
}

.titulo h1 {
  font-weight: 600;
  font-size: 30px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 18px;
}

.tema button {
  align-self: flex-end; /* elemento sozinho no final do container */
  font-size: 20px;
  font-weight: 500;
  padding: 8px 16px;
  background: #ecf4ff;
  border-radius: 40px;
}

.projetos {
  display: flex;
  flex-direction: column;
  background: linear-gradient(236.85deg, #6787b7 27.26%, #94c847 96.03%);
  margin-top: 32px; /* espaço entre os elementos do topo */
  padding: 28px; /* espaço dos elementos detro do container */
  align-items: center;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 15px;
}

.projetos-titulo {
  list-style: none;
  font-weight: 600;
  font-size: 30px;
}

.projetos-item {
  list-style-type: none; /* tirar os marcadores da lista */
  font-size: 20px;
  font-weight: 500;
  line-height: 30px; /*** altura da linha *****/
}

.projetos-item a {
  color: #1c1c1c;
  text-decoration: none;
}

.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container {
  background: #333439;
  color: #f6f6f6;
}

.dark .projetos {
  color: #1c1c1c;
}

.dark .tema button {
  background: #1c1c1c;
  color: #fff;
  border: 2px solid #f7f7f7;
}

/* tempo 0:49:02 aula10 */